/* Browser Reset */
* {
  box-sizing: border-box;
}

/* Base element styles */
body {
  font-family: sans-serif;
  line-height: 1.6;
  color: #3a3a3a;
}

p {
  font-size: .95em;
  margin-bottom: .5em;
  text-align: justify;
  max-width: 320px;
}
h1 {
  font-size: 1.5em;
}
h2,
h3,
a {
  color: #093a58;
}
h1,
h2,
h3,
h4,
h5 {
  margin-top: 0;
  text-align: center;
}
h5 {
  font-size: 1.2em;
}
nav a {
  text-decoration: none;
  text-align: center;
  display: block;
  background-color: rgb(237, 230, 230);
  border: .5px;
  padding: .5em;
  margin: 5px;
}

img {
  max-width: 100%;
  align-content: center;
}
main {
  margin: 1em;
  padding: 1em;
  background-color: white;
}

wrapper {
  background-color: white;
}

callme {
  text-align: center;
}

footer .bottom {
  display: flex;
  justify-content: space-between;
  border-top: .5px solid #d3d3d3;
  margin: .5em;
}
ul,
a {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin: .2em;
  padding: .1em;
  text-decoration: none;
}

/* ==============================
   Media Queries 
   ============================== */
@media (max-width: 768px) {
  #Home1,
  #Portfolio1 {
    visibility: hidden;
  }

  footer h1 {
    font-size: .5em;
  }
  ul {
    font-size: .4em;
  }
}

@media (min-width: 48em) {
  header .container {
    display: flex;
    justify-content: space-between;
  }

  nav {
    display: flex;
    align-items: center;
  }
  nav a {
    background-color: white;
    border: 0;
    padding: 0;
    margin: .5em;
  }

  main {
    display: grid;
  }

  .media {
    display: grid;
    grid-template-columns: 1fr, 1fr;
    grid-template-areas: "content img";
    column-gap: 8em;
    margin: 2em;
  }

  .media .image {
    grid-area: "img";
    margin: 1em;
  }

  .media .text {
    grid-area: content;
    font-size: 1em;
    padding: 1em;
    margin: 1em;
    text-align: inherit;
  }

  wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: .1em;
    grid-row-gap: 0;
  }
  h2 {
    align-self: center;
  }
  h3 {
    text-align: center;
  }
  h4 {
    text-align: center;
  }
  img {
    max-width: 100%;
  }

  #Backtotop1 {
    visibility: hidden;
  }

  ul {
    text-align: left;
    margin: .5em;
    padding: 0;
  }
}
@media (min-width: 64em) {
  .media {
    display: grid;
    grid-template-columns: 1fr, 3fr;
    grid-template-areas: "content img";
    grid-column-gap: 12em;
    margin-bottom: 2em;
  }

  .media .image {
    grid-area: "img";
    padding: 1em;
  }

  .media .text {
    grid-area: content;
    font-size: 1.5em;
    padding: 1em;
    margin-bottom: .2em;
    text-align: inherit;
  }

  main {
    display: grid;
  }

  .wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: .1em;
    grid-row-gap: .5em;
  }
}
